In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import warnings

In [98]:
books = pd.read_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/books_clean.csv")
ratings = pd.read_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/ratings_clean.csv")
users = pd.read_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/users_clean.csv")
books_users_ratings = pd.read_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/books_users_ratings.csv")

In [55]:
books_users_ratings.drop(columns =['Unnamed: 0'])

,user_id,isbn,book_rating,book_title,book_author,year_of_publication,publisher,unique_isbn,Unnamed: 0.1,age,city,state,country
0,276726,0155061224,5,Rites of Passage,Judith Rae,2001.0,Heinle,0155061224,276725,34.786876,seattle,washington,usa
1,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,052165615X,276728,16.000000,rijeka,n/a,croatia
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,0521795028,276728,16.000000,rijeka,n/a,croatia
3,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,276743,34.786876,torrance,california,usa
4,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,11675,34.786876,NaN,n/a,n/a
5,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995.0,Pocket,0671537458,11675,34.786876,NaN,n/a,n/a
6,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997.0,Vintage Books USA,0679776818,11675,34.786876,NaN,n/a,n/a
7,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999.0,Scribner,0684867621,11675,34.786876,NaN,n/a,n/a
8,11676,3499230933,1,Adressat unbekannt.,Kathrine Kressmann Taylor,2002.0,Rowohlt Tb.,3499230933,11675,34.786876,NaN,n/a,n/a
9,11676,8437606322,8,Anna Karenina,Leo Tolstoy,1999.0,Ediciones Catedra S.A.,8437606322,11675,34.786876,NaN,n/a,n/a
10,11676,8478442588,7,El Elogio de La Sombra,Tanazaki,1998.0,Siruela,8478442588,11675,34.786876,NaN,n/a,n/a
11,11676,0006379702,5,"My \Star Trek\"" Memories""",William Shatner,1993.0,HarperCollins Publishers,0006379702,11675,34.786876,NaN,n/a,n/a
12,11676,3548603203,9,Artemis Fowl.,Eoin Colfer,2003.0,Ullstein TB-Vlg,3548603203,11675,34.786876,NaN,n/a,n/a
13,11676,0440498058,8,A Wrinkle In Time,MADELEINE L'ENGLE,1998.0,Yearling,0440498058,11675,34.786876,NaN,n/a,n/a
14,11676,8423996565,8,La hija del CanÃ­bal,Rosa Montero,1998.0,"Espasa Calpe Mexicana, S.A.",8423996565,11675,34.786876,NaN,n/a,n/a
15,11676,0440225825,9,Move to Strike,Perri O'Shaughnessy,2001.0,Island,0440225825,11675,34.786876,NaN,n/a,n/a
16,11676,0380005239,10,Go Ask Alice (Avon/Flare Book),James Jennings,1991.0,Avon Books,0380005239,11675,34.786876,NaN,n/a,n/a
17,11676,3404921178,8,Nur der Tod ist ohne Makel.,Ann Granger,2002.0,LÃ?Â¼bbe,3404921178,11675,34.786876,NaN,n/a,n/a
18,11676,3442437717,7,Asche zu Asche.,Elizabeth George,1997.0,Goldmann,3442437717,11675,34.786876,NaN,n/a,n/a
19,11676,3442446414,9,Mit dem KÃ?Â¼hlschrank durch Irland.,Tony Hawks,2000.0,Goldmann,3442446414,11675,34.786876,NaN,n/a,n/a
20,11676,3551551677,8,Harry Potter und der Stein der Weisen,Joanne K. Rowling,1999.0,Carlsen Verlag GmbH,3551551677,11675,34.786876,NaN,n/a,n/a
21,11676,0836220889,9,Calvin and Hobbes,Bill Watterson,1987.0,Andrews McMeel Publishing,0836220889,11675,34.786876,NaN,n/a,n/a
22,11676,3423201509,8,Die Weiss Lowin / Contemporary German Lit,Henning Mankell,2002.0,Distribooks,3423201509,11675,34.786876,NaN,n/a,n/a
23,11676,8420636282,9,El Principito,Antoine De Saint-Exupery,2002.0,Distribooks,8420636282,11675,34.786876,NaN,n/a,n/a
24,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994.0,John Wiley & Sons Inc,002542730X,11675,34.786876,NaN,n/a,n/a
25,11676,0385504209,9,The Da Vinci Code,Dan Brown,2003.0,Doubleday,0385504209,11675,34.786876,NaN,n/a,n/a
26,11676,2266104535,1,Et Si C'Etait Vrai / If This Were Only True,Marc Levy,2001.0,Pocket,2266104535,11675,34.786876,NaN,n/a,n/a
27,11676,2070419657,7,Soie,Alessandro Baricco,2001.0,Gallimard,2070419657,11675,34.786876,NaN,n/a,n/a
28,11676,2253063339,5,Les Fourmis,Bernard Werber,2002.0,LGF,2253063339,11675,34.786876,NaN,n/a,n/a
29,11676,2253144452,7,La RÃ?Â©volution des fourmis,Bernard Werber,1998.0,LGF,2253144452,11675,34.786876,NaN,n/a,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375550,276086,076455381X,8,Retail Business Kit for Dummies,Rick Segel,2001.0,For Dummies,076455381X,276085,42.000000,chapel hill,north carolina,usa
375551,276086,1885664001,10,Providence: The Story of a Fifty Year Vision Q...,Daniel Quinn,1994.0,Hard Rain Press,1885664001,276085,42.000000,chapel hill,north carolina,usa
375552,276094,0743247981,5,Mama Gena's Owner's and Operator's Guide to Men,Regena Thomashauer,2003.0,Simon & Schuster,0743247981,276093,48.000000,corrales,new mexico,usa
375553,276142,0671038672,10,"Lights Out : Sleep, Sugar, and Survival",T. S. Wiley,2000.0,Atria,0671038680,276141,34.786876,delta,british columbia,canada
375554,276171,0140275169,1,An Intelligent Person's Guide to Philosophy,Roger Scruton,1999.0,Penguin Books,0140275169,276170,38.000000,los angeles,california,usa
375555,276171,1586634151,7,Spark Notes Moby Dick,Herman Melville,2003.0,Sparknotes,1586634151,276170,38.000000,los angeles,california,usa
375556,276205,9050182828,5,Het feest der liefde,Ronald Giphart,1995.0,Balans,9050182828,276204,34.786876,sittard,limburg,netherlands
375557,276216,9700509222,5,Terreno peligroso,Jack Higgins,2000.0,"Grijalbo Mondadori, S.A",9700509222,276215,29.000000,ccp,ccp,chile
375558,276221,1550741136,8,The Science Book for Girls: And Other Intellig...,Valerie Wyatt,1997.0,Kids Can Press,1550741136,276220,34.786876,calgary,,NaN
375559,276236,1567407617,5,Homeport (Nova Audio Books),Nora Roberts,1998.0,Brilliance Audio - Trade,1567407617,276235,34.786876,duluth,georgia,usa
375560,276265,0020130902,7,The Art of Questioning : Thirty Maxims of Cros...,Peter Megargee Brown,1988.0,John Wiley & Sons,0020130902,276264,21.000000,hot springs,arkansas,usa
375561,276327,067163576X,9,MR SCOTT GD ENTEPRS (Star Trek),Claire M. Johnson,1987.0,Star Trek,067163576X,276326,28.000000,rome,newfoundland,italy
375562,276396,1857989988,7,Non-stop (Millennium SF Masterworks S),Brian Aldiss,2000.0,Gollancz,1857989988,276395,36.000000,dublin,county dublin,ireland
375563,276442,2070498492,6,Le NÃ?Â?ud Gordien,Bernard Schlink,2001.0,Gallimard,2070498492,276441,62.000000,genève,genève,switzerland
375564,276442,2264032960,6,L'Apprenti du diable,Ellis Peters,2001.0,Editions 10/18,2264032960,276441,62.000000,genève,genève,switzerland
375565,276442,2862749796,7,Le Huit,Katherine Neville,2002.0,Le Cherche Midi,2862749796,276441,62.000000,genève,genève,switzerland
375566,276465,0571202039,6,Uncle Petros and Goldbach's Conjecture,Apostolos Doxiadis,2000.0,Faber and Faber Ltd,1582341281,276464,22.000000,oxford,england,united kingdom
375567,276508,0130274917,6,The American History Sourcebook,Joel Makower,1988.0,Simon & Schuster,0130274917,276507,34.786876,wilkes-barre area,pennsylvania,usa
375568,276508,0671746391,5,The New State of the World Atlas,Michael Kidron,1991.0,Simon & Schuster,0671746391,276507,34.786876,wilkes-barre area,pennsylvania,usa
375569,276508,0870114573,7,Catch and Other Stories.,Kenzaburo Oe,1981.0,Kodansha America,0870114573,276507,34.786876,wilkes-barre area,pennsylvania,usa
375570,276556,0385314450,5,The Architect of Desire: Beauty and Danger in ...,Suzannah Lessard,1996.0,Dial Press,0385319428,276555,34.786876,vancouver,washington,usa
375571,276556,055337849x,10,The Brothers K,David James Duncan,1996.0,Bantam,055347068X,276555,34.786876,vancouver,washington,usa
375572,276618,3788097000,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,1984.0,C.F. MÃ¼ller,3788097000,276617,34.786876,stuttgart,"\n/a\"".","germany"""
375573,276623,3442449715,5,Falscher Zauber.,Carol OConnell,2003.0,Goldmann,3442449715,276622,38.000000,nuernberg,bayern,germany
375574,276647,0689822294,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,1998.0,Simon & Schuster Children's Publishing,0689822294,276646,13.000000,arlington heights,illinois,usa
375575,276660,0583307841,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,1985.0,HarperCollins Publishers,0583307841,276659,15.000000,singapore,n/a,singapore
375576,276664,0004703723,9,Dictionary Of Economics-2Nd Ed,Christopher Pass,1991.0,Trafalgar Square,0004703723,276663,31.000000,daventry,england,united kingdom
375577,276664,0140136908,7,History of Economic Thought (Penguin Economics),William J. Barber,1992.0,Penguin USA,0140136908,276663,31.000000,daventry,england,united kingdom
375578,276664,0631189629,9,British Social Policy Since 1945 (Making Conte...,Howard Glennerster,1996.0,Blackwell Publishers,0631189629,276663,31.000000,daventry,england,united kingdom
375579,276664,0747205051,7,Murderous Women: True Talesof W,Frank Jones,1992.0,Headline,0747205051,276663,31.000000,daventry,england,united kingdom

**Recommendations based on correlations**

In [56]:
#dropping books with one review to reduce size of dataset
average_ratings = pd.DataFrame(books_users_ratings.groupby('unique_isbn')['book_rating'].mean())
average_ratings['rating_count'] = pd.DataFrame(books_users_ratings.groupby('unique_isbn')['book_rating'].count())
average_ratings.sort_values('rating_count', ascending=False).head()
average_ratings['greater1'] = (average_ratings.rating_count>9)

In [57]:
average_ratings.head()

             book_rating  rating_count  greater1
unique_isbn
0000913154           8.0             1     False
000104687X           6.0             1     False
0001047213           9.0             1     False
000104799X           7.5             2     False
0001053744           5.0             1     False

In [59]:
books_users_ratings['dropornot'] = [average_ratings.greater1[x]==False for x in books_users_ratings.unique_isbn]

In [60]:
reduced_books_users_ratings = books_users_ratings[books_users_ratings.dropornot==False]

In [61]:
#dropping users with one review
userdrop = reduced_books_users_ratings.groupby('user_id')['book_rating'].count()<=2
userdrop
reduced_books_users_ratings['dropuser'] =[userdrop[x] for x in reduced_books_users_ratings['user_id']]

C:\Users\Ami\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [62]:
reduced_books_users_ratings.head()

,Unnamed: 0,user_id,isbn,book_rating,book_title,book_author,year_of_publication,publisher,unique_isbn,Unnamed: 0.1,age,city,state,country,dropornot,dropuser
3,3,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,276743,34.786876,torrance,california,usa,False,True
4,4,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,11675,34.786876,NaN,n/a,n/a,False,False
5,5,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995.0,Pocket,0671537458,11675,34.786876,NaN,n/a,n/a,False,False
6,6,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997.0,Vintage Books USA,0679776818,11675,34.786876,NaN,n/a,n/a,False,False
7,7,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999.0,Scribner,0684867621,11675,34.786876,NaN,n/a,n/a,False,False

In [63]:
reduced_books_users_ratings = reduced_books_users_ratings[reduced_books_users_ratings.dropuser==False]

In [279]:
reduced_books_users_ratings.to_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/reduced_books_users_ratings.csv")

In [67]:
user_item_rating = reduced_books_users_ratings[['user_id', 'unique_isbn', 'book_rating']]
user_item_rating.head()

   user_id unique_isbn  book_rating
4    11676  038550120X           10
5    11676  0671537458            8
6    11676  0679776818            8
7    11676  0684867621            3
9    11676  8437606322            8

In [68]:
#dividing into test and train
from sklearn import model_selection
train_data, test_data = model_selection.train_test_split(user_item_rating, test_size=0.40)

In [69]:
train_users= len(train_data['user_id'].unique())
train_books =len(train_data['unique_isbn'].unique())

In [171]:
train_users

10851

In [172]:
train_books

5572

In [70]:
test_users = len(test_data['user_id'].unique())
test_books = len(test_data['unique_isbn'].unique())

In [173]:
test_users

10085

In [174]:
test_books

5519

In [71]:
#creating a user-item matrix to calculate similarity between users

In [72]:
train_matrix= np.zeros((train_users,train_books))

In [73]:
#Map the user_id and unique_isbn fields to sequential integers for matrix processing
u_unique_train = train_data.user_id.unique()  # create a 'set' (i.e. all unique) list of vals
train_data_user2idx = {o:i for i, o in enumerate(u_unique_train)}
# Get int mapping for unique_isbn
b_unique_train = train_data.unique_isbn.unique()  # create a 'set' (i.e. all unique) list of vals
train_data_book2idx= {o:i for i, o in enumerate(b_unique_train)}

### TESTING SET
# Get int mapping for user_id
u_unique_test = test_data.user_id.unique()  # create a 'set' (i.e. all unique) list of vals
test_data_user2idx = {o:i for i, o in enumerate(u_unique_test)}
# Get int mapping for unique_isbn
b_unique_test = test_data.unique_isbn.unique()  # create a 'set' (i.e. all unique) list of vals
test_data_book2idx = {o:i for i, o in enumerate(b_unique_test)}

In [77]:
train_data['u_unique'] = train_data['user_id'].map(train_data_user2idx)
train_data['b_unique'] = train_data['unique_isbn'].map(train_data_book2idx)

### TESTING SET
test_data['u_unique'] = test_data['user_id'].map(test_data_user2idx)
test_data['b_unique'] = test_data['unique_isbn'].map(test_data_book2idx)

C:\Users\Ami\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ami\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Ami\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Ami\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
### Convert back to 3-column df
train_data_new = train_data[['u_unique', 'b_unique', 'book_rating']]
test_data_new = test_data[['u_unique', 'b_unique', 'book_rating']]

In [79]:
for entry in train_data_new.itertuples(): # entry[1] is the user-id, entry[2] is the book-isbn
    train_matrix[entry[1]-1, entry[2]-1] = entry[3] # -1 is to counter 0-based indexing

In [80]:
train_matrix

array([[10.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0., 10.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0., 10., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  8.]])

In [109]:
#Calculating cosine similarity
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_matrix, metric='cosine')
item_similarity = pairwise_distances(train_matrix.T, metric='cosine') # .T transposes the matrix (NumPy)

In [110]:
def predict(ratings, similarity, type='user'): # default type is 'user'
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # Use np.newaxis so that mean_user_rating has the same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [111]:
#predicts ratings for every book and every user
item_prediction = predict(train_matrix, item_similarity, type='item')
user_prediction = predict(train_matrix, user_similarity, type='user')

In [267]:
#function to get top ten recommendations for a given user id based on user similarity scores
def predict_user(user_id, user_prediction, books_users_ratings):
    uniqueuser = train_data_user2idx[user_id]
    ranks = pd.DataFrame(user_prediction[uniqueuser])
    ranks['uniquebook'] = [i for i,o in enumerate(ranks[0])]
    ranks.columns = ['rating', 'uniquebook']
    ranks= ranks.sort_values(by=['rating'],ascending=False)
    isbn = []
    for i,v in enumerate(ranks.uniquebook):
        for key, value in train_data_book2idx.items():
            if v == value:
                isbn.append(key)
    ranks['unique_isbn'] = isbn
    ranks['rated'] = [1 if x in reduced_books_users_ratings[reduced_books_users_ratings.user_id == user_id].unique_isbn.tolist() else 0 for x in ranks.unique_isbn]
    ranks = ranks[ranks.rated==0]
    ranks=ranks.head(10)
    recommendations = [books_users_ratings[books_users_ratings.unique_isbn==x].book_title.tolist()[1] for x in ranks.unique_isbn]
    ranks['titles'] =recommendations
    print(ranks)

In [268]:
#example prediction of ten books for a given user based on user similarity scores
predict_user(161882,user_prediction,books_users_ratings)

       rating  uniquebook unique_isbn  rated  \
365  0.241631         365  0553569155      0
539  0.195143         539  0440236819      0
248  0.171858         248  0553569031      0
43   0.156430          43  0060977493      0
211  0.146043         211  0688177751      0
738  0.141077         738  0380725835      0
11   0.139725          11  0451525795      0
306  0.137516         306  0515116750      0
552  0.137500         552  0060002050      0
407  0.129629         407  0811813401      0

                                                titles
365                                       Seinlanguage
539                                        The Cottage
248                             Gone But Not Forgotten
43                             The God of Small Things
211               Miss Julia Speaks Her Mind : A Novel
738  Endangered Species (Anna Pigeon Mysteries (Pap...
11                         My Antonia (Signet Classic)
306                                        Born in Ice
552                  On a Wicked Dawn (Cynster Novels)
407                                             Beauty

In [269]:
#function to get top ten recommendations for a given user id based on item similarity scores
def predict_user(user_id, item_prediction, books_users_ratings):
    uniqueuser = train_data_user2idx[user_id]
    ranks = pd.DataFrame(item_prediction[uniqueuser])
    ranks['uniquebook'] = [i for i,o in enumerate(ranks[0])]
    ranks.columns = ['rating', 'uniquebook']
    ranks= ranks.sort_values(by=['rating'],ascending=False)
    isbn = []
    for i,v in enumerate(ranks.uniquebook):
        for key, value in train_data_book2idx.items():
            if v == value:
                isbn.append(key)
    ranks['unique_isbn'] = isbn
    ranks['rated'] = [1 if x in reduced_books_users_ratings[reduced_books_users_ratings.user_id == user_id].unique_isbn.tolist() else 0 for x in ranks.unique_isbn]
    ranks = ranks[ranks.rated==0]
    ranks=ranks.head(10)
    recommendations = [books_users_ratings[books_users_ratings.unique_isbn==x].book_title.tolist()[1] for x in ranks.unique_isbn]
    ranks['titles'] =recommendations
    print(ranks)

In [271]:
#example prediction of ten books for a given user based on item similarity scores
predict_user(161882,item_prediction,books_users_ratings)

        rating  uniquebook unique_isbn  rated  \
4784  0.037389        4784  0062554468      0
906   0.037325         906  0689817851      0
2887  0.037310        2887  0060975547      0
620   0.037305         620  0142002267      0
4266  0.037302        4266  0312852487      0
5275  0.037290        5275  087542127X      0
2621  0.037276        2621  0446530077      0
4057  0.037256        4057  0743467191      0
1782  0.037247        1782  0553211757      0
5456  0.037246        5456  0440501601      0

                                                 titles
4784  Codependent No More: How to Stop Controlling O...
906                                        Go Ask Alice
2887                                      Love Medicine
620   Word Freak: Heartbreak, Triumph, Genius, and O...
4266      The Dragon Reborn (The Wheel of Time, Book 3)
5275  The Truth About Witchcraft Today (Llewellyn's ...
2621                                            Find Me
4057                                     Wildest Hearts
1782      Crime and Punishment (Crime &amp; Punishment)
5456  Do What You Love, The Money Will Follow : Disc...

In [275]:
### Testing the prediction methods bases on rmse
# Create user-item matrices
n_users = test_data['u_unique'].nunique()
n_books = test_data['b_unique'].nunique()

# First, create an empty matrix of size USERS x BOOKS (this speeds up the later steps)
test_matrix = np.zeros((n_users, n_books))

In [276]:
test_data.head()

        user_id unique_isbn  book_rating  u_unique  b_unique
97905    227836  0515131229            8         0         0
155656   232052  034540288X           10         1         1
271929   154788  0689711522            9         2         2
50917    182053  0786817070           10         3         3
69251    243720  002542730X            5         4         4

In [277]:

# Then, add the appropriate vals to the matrix by extracting them from the df with itertuples
for entry in test_data_new.itertuples(): # entry[1] is the user-id, entry[2] is the book-isbn
    test_matrix[entry[1]-1, entry[2]-1] = entry[3] # -1 is to counter 0-based indexing

In [278]:
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(prediction, test_matrix):
    prediction = prediction[test_matrix.nonzero()].flatten()
    test_matrix = test_matrix[test_matrix.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, test_matrix))

# Call on test set to get error from each approach ('user' or 'item')
print(f'User-based CF RMSE: {rmse(user_prediction, test_matrix)}')
print(f'Item-based CF RMSE: {rmse(item_prediction, test_matrix)}')

User-based CF RMSE: 7.973753170432789
Item-based CF RMSE: 7.976354848069027