In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import warnings

In [83]:
books = pd.read_csv("C:/University of Chicago/Machine Learning/Project\Machine-Learning-Book-Ratings/data/clean/books_clean.csv")
ratings = pd.read_csv("C:/University of Chicago/Machine Learning/Project\Machine-Learning-Book-Ratings/data/clean/ratings_clean.csv")
users = pd.read_csv("C:/University of Chicago/Machine Learning/Project\Machine-Learning-Book-Ratings/data/clean/users_clean.csv")

In [85]:
users.country.isnull().sum()

4543

In [86]:
#unifying the books with ratings tables on isbn field
#number of entries in books table
len(books)

266732

In [87]:
#ratings table size
len(ratings)

433671

In [62]:
books_with_ratings = pd.merge(ratings, books, on='isbn')

In [63]:
#Checking if there are any rows with title/author missing
books_with_ratings.book_title.isnull().sum()

0

In [64]:
books_with_ratings.book_author.isnull().sum()

0

In [65]:
books_with_ratings.head()

,Unnamed: 0_x,user_id,isbn,book_rating,Unnamed: 0_y,book_title,book_author,year_of_publication,publisher
0,1,276726,0155061224,5,225827,Rites of Passage,Judith Rae,2001.0,Heinle
1,3,276729,052165615X,3,246849,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press
2,4,276729,0521795028,6,246850,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press
3,8,276744,038550120X,7,9295,A Painted House,JOHN GRISHAM,2001.0,Doubleday
4,48815,11676,038550120X,10,9295,A Painted House,JOHN GRISHAM,2001.0,Doubleday

In [66]:
books_with_ratings =books_with_ratings.drop(columns =["Unnamed: 0_x", "Unnamed: 0_y"])

In [67]:
#unifying ISBN numbers
#looking the number of books with multiple isbn numbers
multiple_isbns = books_with_ratings.groupby('book_title').isbn.nunique()
multiple_isbns.value_counts()

1     123409
2       7733
3       1426
4        457
5        179
6         81
7         37
8         24
9          8
10         6
16         2
15         2
14         2
13         2
12         2
11         2
Name: isbn, dtype: int64

In [68]:
has_multiple_isbns= multiple_isbns.where(multiple_isbns>1) #sets NaN for those with just 1 isb

In [69]:
#removing the ones with just one isbn
has_multiple_isbns.dropna(inplace=True)

In [70]:
len(has_multiple_isbns)

9963

In [71]:
#Create dictionary for books with multiple isbns
def make_isbn_dict(df):
    title_isbn_dict = {}
    for title in has_multiple_isbns.index:
        isbn_series = df.loc[df.book_title==title].isbn.unique() # returns only the unique ISBNs
        title_isbn_dict[title] = isbn_series.tolist()
    return title_isbn_dict

%time dict_unique_isbn = make_isbn_dict(books_with_ratings)

Wall time: 11min 23s

In [72]:
with open('multiple_isbn_dict.pickle', 'wb') as handle:
    pickle.dump(dict_unique_isbn, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [73]:
# LOAD isbn_dict back into namespace
with open('multiple_isbn_dict.pickle', 'rb') as handle:
    multiple_isbn_dict = pickle.load(handle)

In [74]:
#checking the number of entries in the dictiionaries
len(multiple_isbn_dict)

9963

In [75]:
# Adding 'unique_isbn' column to 'books_with_ratings' dataframe that includes the first ISBN if multiple ISBNS,or the single unique isbn
def add_unique_isbn_col(df):
    df['unique_isbn'] = df.apply(lambda row: multiple_isbn_dict[row.book_title][0] if row.book_title in multiple_isbn_dict.keys() else row.isbn, axis=1)
    return df

%time books_with_ratings = add_unique_isbn_col(books_with_ratings)

Wall time: 12.2 s

In [76]:
#checking an example to see that the unique column has been added 
books_with_ratings[books_with_ratings.book_title=="Jane Eyre"].head()

,user_id,isbn,book_rating,book_title,book_author,year_of_publication,publisher,unique_isbn
40062,387,1590071212,9,Jane Eyre,Charlotte Bronte,2002.0,New Millenium Audio,1590071212
65551,2718,0451518845,10,Jane Eyre,Charlotte Bronte,1999.0,New Amer Library Classics,1590071212
65552,70205,0451518845,9,Jane Eyre,Charlotte Bronte,1999.0,New Amer Library Classics,1590071212
65553,218121,0451518845,10,Jane Eyre,Charlotte Bronte,1999.0,New Amer Library Classics,1590071212
109854,8370,0451523326,8,Jane Eyre,Charlotte Bronte,1988.0,Signet Classics,1590071212

In [77]:
#joining the users table on hte user_id field
books_users_ratings = books_with_ratings.merge(users, on='user_id')

In [78]:
books_users_ratings.head()

,user_id,isbn,book_rating,book_title,book_author,year_of_publication,publisher,unique_isbn,Unnamed: 0,age,city,state,country
0,276726,0155061224,5,Rites of Passage,Judith Rae,2001.0,Heinle,0155061224,276725,34.786876,seattle,washington,usa
1,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,052165615X,276728,16.000000,rijeka,n/a,croatia
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,0521795028,276728,16.000000,rijeka,n/a,croatia
3,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,276743,34.786876,torrance,california,usa
4,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,11675,34.786876,NaN,n/a,n/a

In [88]:
books_users_ratings.drop(columns = 'Unnamed: 0')

,user_id,isbn,book_rating,book_title,book_author,year_of_publication,publisher,unique_isbn,age,city,state,country
0,276726,0155061224,5,Rites of Passage,Judith Rae,2001.0,Heinle,0155061224,34.786876,seattle,washington,usa
1,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,052165615X,16.000000,rijeka,n/a,croatia
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,0521795028,16.000000,rijeka,n/a,croatia
3,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,34.786876,torrance,california,usa
4,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001.0,Doubleday,038550120X,34.786876,NaN,n/a,n/a
5,11676,0671537458,8,Waiting to Exhale,Terry McMillan,1995.0,Pocket,0671537458,34.786876,NaN,n/a,n/a
6,11676,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997.0,Vintage Books USA,0679776818,34.786876,NaN,n/a,n/a
7,11676,0684867621,3,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999.0,Scribner,0684867621,34.786876,NaN,n/a,n/a
8,11676,3499230933,1,Adressat unbekannt.,Kathrine Kressmann Taylor,2002.0,Rowohlt Tb.,3499230933,34.786876,NaN,n/a,n/a
9,11676,8437606322,8,Anna Karenina,Leo Tolstoy,1999.0,Ediciones Catedra S.A.,8437606322,34.786876,NaN,n/a,n/a
10,11676,8478442588,7,El Elogio de La Sombra,Tanazaki,1998.0,Siruela,8478442588,34.786876,NaN,n/a,n/a
11,11676,0006379702,5,"My \Star Trek\"" Memories""",William Shatner,1993.0,HarperCollins Publishers,0006379702,34.786876,NaN,n/a,n/a
12,11676,3548603203,9,Artemis Fowl.,Eoin Colfer,2003.0,Ullstein TB-Vlg,3548603203,34.786876,NaN,n/a,n/a
13,11676,0440498058,8,A Wrinkle In Time,MADELEINE L'ENGLE,1998.0,Yearling,0440498058,34.786876,NaN,n/a,n/a
14,11676,8423996565,8,La hija del CanÃ­bal,Rosa Montero,1998.0,"Espasa Calpe Mexicana, S.A.",8423996565,34.786876,NaN,n/a,n/a
15,11676,0440225825,9,Move to Strike,Perri O'Shaughnessy,2001.0,Island,0440225825,34.786876,NaN,n/a,n/a
16,11676,0380005239,10,Go Ask Alice (Avon/Flare Book),James Jennings,1991.0,Avon Books,0380005239,34.786876,NaN,n/a,n/a
17,11676,3404921178,8,Nur der Tod ist ohne Makel.,Ann Granger,2002.0,LÃ?Â¼bbe,3404921178,34.786876,NaN,n/a,n/a
18,11676,3442437717,7,Asche zu Asche.,Elizabeth George,1997.0,Goldmann,3442437717,34.786876,NaN,n/a,n/a
19,11676,3442446414,9,Mit dem KÃ?Â¼hlschrank durch Irland.,Tony Hawks,2000.0,Goldmann,3442446414,34.786876,NaN,n/a,n/a
20,11676,3551551677,8,Harry Potter und der Stein der Weisen,Joanne K. Rowling,1999.0,Carlsen Verlag GmbH,3551551677,34.786876,NaN,n/a,n/a
21,11676,0836220889,9,Calvin and Hobbes,Bill Watterson,1987.0,Andrews McMeel Publishing,0836220889,34.786876,NaN,n/a,n/a
22,11676,3423201509,8,Die Weiss Lowin / Contemporary German Lit,Henning Mankell,2002.0,Distribooks,3423201509,34.786876,NaN,n/a,n/a
23,11676,8420636282,9,El Principito,Antoine De Saint-Exupery,2002.0,Distribooks,8420636282,34.786876,NaN,n/a,n/a
24,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994.0,John Wiley & Sons Inc,002542730X,34.786876,NaN,n/a,n/a
25,11676,0385504209,9,The Da Vinci Code,Dan Brown,2003.0,Doubleday,0385504209,34.786876,NaN,n/a,n/a
26,11676,2266104535,1,Et Si C'Etait Vrai / If This Were Only True,Marc Levy,2001.0,Pocket,2266104535,34.786876,NaN,n/a,n/a
27,11676,2070419657,7,Soie,Alessandro Baricco,2001.0,Gallimard,2070419657,34.786876,NaN,n/a,n/a
28,11676,2253063339,5,Les Fourmis,Bernard Werber,2002.0,LGF,2253063339,34.786876,NaN,n/a,n/a
29,11676,2253144452,7,La RÃ?Â©volution des fourmis,Bernard Werber,1998.0,LGF,2253144452,34.786876,NaN,n/a,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...
375550,276086,076455381X,8,Retail Business Kit for Dummies,Rick Segel,2001.0,For Dummies,076455381X,42.000000,chapel hill,north carolina,usa
375551,276086,1885664001,10,Providence: The Story of a Fifty Year Vision Q...,Daniel Quinn,1994.0,Hard Rain Press,1885664001,42.000000,chapel hill,north carolina,usa
375552,276094,0743247981,5,Mama Gena's Owner's and Operator's Guide to Men,Regena Thomashauer,2003.0,Simon & Schuster,0743247981,48.000000,corrales,new mexico,usa
375553,276142,0671038672,10,"Lights Out : Sleep, Sugar, and Survival",T. S. Wiley,2000.0,Atria,0671038680,34.786876,delta,british columbia,canada
375554,276171,0140275169,1,An Intelligent Person's Guide to Philosophy,Roger Scruton,1999.0,Penguin Books,0140275169,38.000000,los angeles,california,usa
375555,276171,1586634151,7,Spark Notes Moby Dick,Herman Melville,2003.0,Sparknotes,1586634151,38.000000,los angeles,california,usa
375556,276205,9050182828,5,Het feest der liefde,Ronald Giphart,1995.0,Balans,9050182828,34.786876,sittard,limburg,netherlands
375557,276216,9700509222,5,Terreno peligroso,Jack Higgins,2000.0,"Grijalbo Mondadori, S.A",9700509222,29.000000,ccp,ccp,chile
375558,276221,1550741136,8,The Science Book for Girls: And Other Intellig...,Valerie Wyatt,1997.0,Kids Can Press,1550741136,34.786876,calgary,,NaN
375559,276236,1567407617,5,Homeport (Nova Audio Books),Nora Roberts,1998.0,Brilliance Audio - Trade,1567407617,34.786876,duluth,georgia,usa
375560,276265,0020130902,7,The Art of Questioning : Thirty Maxims of Cros...,Peter Megargee Brown,1988.0,John Wiley & Sons,0020130902,21.000000,hot springs,arkansas,usa
375561,276327,067163576X,9,MR SCOTT GD ENTEPRS (Star Trek),Claire M. Johnson,1987.0,Star Trek,067163576X,28.000000,rome,newfoundland,italy
375562,276396,1857989988,7,Non-stop (Millennium SF Masterworks S),Brian Aldiss,2000.0,Gollancz,1857989988,36.000000,dublin,county dublin,ireland
375563,276442,2070498492,6,Le NÃ?Â?ud Gordien,Bernard Schlink,2001.0,Gallimard,2070498492,62.000000,genève,genève,switzerland
375564,276442,2264032960,6,L'Apprenti du diable,Ellis Peters,2001.0,Editions 10/18,2264032960,62.000000,genève,genève,switzerland
375565,276442,2862749796,7,Le Huit,Katherine Neville,2002.0,Le Cherche Midi,2862749796,62.000000,genève,genève,switzerland
375566,276465,0571202039,6,Uncle Petros and Goldbach's Conjecture,Apostolos Doxiadis,2000.0,Faber and Faber Ltd,1582341281,22.000000,oxford,england,united kingdom
375567,276508,0130274917,6,The American History Sourcebook,Joel Makower,1988.0,Simon & Schuster,0130274917,34.786876,wilkes-barre area,pennsylvania,usa
375568,276508,0671746391,5,The New State of the World Atlas,Michael Kidron,1991.0,Simon & Schuster,0671746391,34.786876,wilkes-barre area,pennsylvania,usa
375569,276508,0870114573,7,Catch and Other Stories.,Kenzaburo Oe,1981.0,Kodansha America,0870114573,34.786876,wilkes-barre area,pennsylvania,usa
375570,276556,0385314450,5,The Architect of Desire: Beauty and Danger in ...,Suzannah Lessard,1996.0,Dial Press,0385319428,34.786876,vancouver,washington,usa
375571,276556,055337849x,10,The Brothers K,David James Duncan,1996.0,Bantam,055347068X,34.786876,vancouver,washington,usa
375572,276618,3788097000,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,1984.0,C.F. MÃ¼ller,3788097000,34.786876,stuttgart,"\n/a\"".","germany"""
375573,276623,3442449715,5,Falscher Zauber.,Carol OConnell,2003.0,Goldmann,3442449715,38.000000,nuernberg,bayern,germany
375574,276647,0689822294,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,1998.0,Simon & Schuster Children's Publishing,0689822294,13.000000,arlington heights,illinois,usa
375575,276660,0583307841,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,1985.0,HarperCollins Publishers,0583307841,15.000000,singapore,n/a,singapore
375576,276664,0004703723,9,Dictionary Of Economics-2Nd Ed,Christopher Pass,1991.0,Trafalgar Square,0004703723,31.000000,daventry,england,united kingdom
375577,276664,0140136908,7,History of Economic Thought (Penguin Economics),William J. Barber,1992.0,Penguin USA,0140136908,31.000000,daventry,england,united kingdom
375578,276664,0631189629,9,British Social Policy Since 1945 (Making Conte...,Howard Glennerster,1996.0,Blackwell Publishers,0631189629,31.000000,daventry,england,united kingdom
375579,276664,0747205051,7,Murderous Women: True Talesof W,Frank Jones,1992.0,Headline,0747205051,31.000000,daventry,england,united kingdom

In [89]:
books_users_ratings.to_csv("C:/University of Chicago/Machine Learning/Project/Machine-Learning-Book-Ratings/data/clean/books_users_ratings.csv")